Body {  
    font-family: Calibri, Helvetica, sans-serif;
    background-image: url('login background 1.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: white;
    user-select: none 
  }  
  button {   
         background-color: #454545;   
         width: 100%;  
          color: white;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
          }   
   form {   
          border: 3px solid transparent;
          width: 400px;
	        height: 256px;
          position:absolute;
          top:30%;
          left:37%;
	        border: 2px solid rgba(255, 255, 255, .5);
 	        border-radius: 20px;
	        backdrop-filter: blur(5px);

      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px transparent;   
          box-sizing: border-box;
	        background-color: transparent;
	        color: white;
      } 
   button:hover {   
          opacity: 0.7;   
      }    
      label {
        position: relative;
        color: white;
	left: 2%
      }
    .register-link {
	position: relative;
	color: #000000;
	left: 44%
      }
    .h1 {
	font-family: "Times New Roman", Times, serif;
      }

